@import url(https://fonts.googleapis.com/css?family=Cabin+Sketch);

/*.btn,
.content__header__title h2,
.form__group label,
.fp__alert,
.fp__bread-crumb,
.fp__header__title,
.list__thumbnail .file__title,
.sidebar__group li a,
.sidebar__upload li a,
.text--normal,
.text--tall,
body {
  font-family:'Cabin Sketch';
}*/

/*.fp__header__title {
  font-size:18px;
}*/

.content__box,
.content__header,
.fp__content,
.fp__drag-and-drop,
.fp__flex,
.fp__sidebar {
  background-color:#B0BAC7;
}

.fp__action-bar,
.fp__header {
  background-color:#504657;
}

.sidebar__group li a,
.sidebar__upload li a {
  color:#647F8D;
}

/*.content__header__title h2,
.fp__drag-and-drop .label__heading,
.small,
.text--tall {
  color:#70648D;
}*/

.fp__action-bar__copy a,
.fp__header__title {
  color:#B0BAC7;
}

/*.btn {
  border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  box-shadow:inset 0 2px 0 rgba(0,0,0,.05);
}

.btn--primary {
  background-color:#CE6767;
  border-color:#CE6767;
}

.btn--primary:hover {
  background-color:#B14646;
  border-color:#B14646;
}*/

.sidebar-icon,
span.custom-provider {
  display:none;
}

/*MOBAPI STYLE*/

.btn,.content__header__title h2,
.form__group label,
.fp__alert,
.fp__bread-crumb,
.fp__header__title,
.list__thumbnail .file__title,
.sidebar__group li a,
.sidebar__upload li a,
.text--normal,
.text--tall,
body {
  font-family: Arial, sans-serif;
}

.fp__header__title {
  font-size:20px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.01em;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none !important;
    text-shadow: none;
    line-height: 21px;
    padding-left: 17px;
    padding-right: 17px;
    position: relative;
    transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s !important;

  border: 3px solid transparent;
  border-radius: 0;
}

.btn--primary {
  color: #fff;
  background-color: #14CC71;
  border-color: #14CC71;
}

.btn--primary:hover {
  color: #14CC71!important;
  background-color: transparent;
  border-color: #14CC71;
}

.sidebar__group li.active, .sidebar__group li a:hover, .sidebar__upload li.active, .sidebar__upload li a:hover {
  background: #EEEEEE;
}

.fp__sidebar {
  border-right-color: #E6E6E6;
}

.content__box, .content__header, .fp__content, .fp__drag-and-drop, .fp__flex, .fp__sidebar {
  background-color: #FFF;
}

.content__header__title h2, .fp__drag-and-drop .label__heading, .small, .text--tall {
    color: #777777;
}

